# OS
.DS_Store
Thumbs.db

# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/
build/
dist/
next-env.d.ts

# Testing
coverage/
playwright-report/
test-results/
.nyc_output/

# Environment
.env
.env.*
!.env.example

# Editors
.idea/
.vscode/
*.swp

# Misc
*.log
.turbo/
.vercel
tsconfig.tsbuildinfo
